/target/
/node_modules/
/.npm-cache/
/.tmp/
/.dx/receipts/
/.vscode-test/
**/dist/
**/*.vsix
**/*.zip
**/*.sha256
**/*.xpi
**/*.crx
**/*.pem
**/web-ext-artifacts/
**/.gradle/
**/build/
**/out/
**/bin/
**/obj/
**/.vs/
**/Library/
**/Temp/
**/Logs/
**/Obj/
**/Binaries/
**/Intermediate/
**/Saved/
**/DerivedDataCache/
**/.clasp.json
**/.clasprc.json
**/*.unitypackage
**/*.afassets
**/*.afbrushes
**/*.affont
**/*.afpalette
**/*.afstyles
**/*.aftemplate
